
html, body {
  margin: 0;
  padding: 0;
  font: normal 13px Arial, Helvetica;
}
.site-wrapper {
  background-color: #eae7e5;
  width:1100px;
  margin: 0 auto;
  padding: 30px;
}
.table-products {
  border-collapse: collapse;
}
.table-products td,
.table-products tr {
  padding: 5px;
  border: 1px solid blue;
}
.table-products th {
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form label {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.form .div-label {
  flex: 1 1 auto;
  max-width: 30%;
}
.form input,
.form select,
.form textarea {
  flex: 1 1 auto;
  padding: 5px;
}

.top-menu {
  display: flex;
  background: #9B410E;
}

.top-menu li {
  flex: 0 1 auto ;
  list-style: none;
  display: flex;
}

.top-menu li a {
  padding: 5px;
  font-size: 15px;
  color: black;
  font-style: oblique;
  text-decoration: none;
  border-right: 2px dotted blue;
  margin: 5px;
  background: aliceblue;

}

.main-wrapper {
  display: flex;
}
.main-wrapper .left-side {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex: 1 1 100%;
  max-width: 220px;
  background: #f6e5e5;

}

.main-wrapper .right-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.category-list  {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

}

.category-list .category-item {
  display: flex;
  justify-content: center;
}
.category-list .category-item .category-link {
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
}

.category-list .category-item .category-link:hover {
  background: #9B410E;
  cursor: pointer;
  color: #eae7e5;
}

.category-list .category-item .category-link.active {
  background: #f0c040;
}